body {
  background-image: url(/img/palais-tokyo.jfif);
  background-position: top, center;
  background-origin: border-box

}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: "Bungee Shade";
  font-size: 50px;
  text-shadow: 1px 5px 5px black;
}

#start {
  margin: 0% 45%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0)
}
#restart {
  display: none;
  margin: 0% 45%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0)
}

#wordDisplay {
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 20px;
}

#userPropose {
  width: 10px;
}

#gameContainer {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-family: "Lexend";
}
footer.audio{
  display: flex;
  justify-content: center;
}